@import "abstracts/colors";
@import "abstracts/mixins";
@import "abstracts/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  font-family: $primary-font-family;
  background-color: white;
  justify-content: space-between;
  margin-left: 21px;
  height: 60px;
  width: 95%;
  position: sticky;
  top: 0;
  z-index: 2;
  p {
    font-size: 13px;
    padding: 20px 25px;
    color: $header-text-color;
    margin-left: 3px;
  }
  #search {
    padding: 20px 25px;
    color: black;
  }
}

//Navbar
.navbar {
  padding: 20px 14px;
  margin-left: -40px;
  ul {
    list-style-type: none;
    li {
      display: inline;
      a {
        padding-left: 22px;
        font-size: $icon-size;
        color: black;
      }
    }
  }
}

//Code Logo
#code-logo {
  display: none;
  img {
    width: 150px;
    height: 45px;
  }
}

//Appearing Icons when resolution is changed
.responsive-icons {
  display: none;
  a {
    text-decoration: none;
    color: black;
    padding: 16px 16px;
    font-size: 25px;
  }
  .fa-bars {
    padding-left: 40px;
  }
}

//Header Search
#search {
  font-size: $icon-size;
}

//Header Button
header {
  button {
    background-color: $button-color;
    font-size: $icon-size;
    height: 100%;
    padding: 7px 40px;
    border: none;
    text-align: center;
    &:hover {
      cursor: pointer;
    }
  }
}

//Section
.explore-new-world {
  background-size: cover;
  width: 93%;
  margin-left: 48px;
  display: flex;
  padding-bottom: 1000px;
}

//Carousel
.carousel-item {
  transition: transform 2s ease-in-out;
}

.carousel-controls {
  color: blue;
}

.carousel-indicators li {
  background-color: black;
  width: 7px;
  height: 7px;
  border-radius: 100%;
  margin-left: 7px;
}

//Slider Navbar
.slider-navbar {
  z-index: 1;
  position: absolute;
  margin-left: 55px;
  margin-top: -7px;
  ul {
    padding-left: 200px;
    li {
      a {
        text-decoration: none;
        font-size: 15px;
        color: white;
      }
    }
  }
}

.dropbtn {
  padding: 0px 16px;
  font-size: 16px;
  border: none;
  background-color: transparent;
  color: white;
  transition: 1s ease-in-out;
}
.dropbtn:after {
  display: block;
  content: "";
  cursor: pointer;
  border-bottom: solid 3px yellow;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.dropbtn:hover:after {
  transform: scaleX(1);
}
.dropbtn.fromRight:after {
  transform-origin: 100% 50%;
}
.dropbtn.fromLeft:after {
  transform-origin: 0% 50%;
}

.dropdown {
  position: relative;
  display: inline-block;
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  background-color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: red;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.edu-dropdown-content {
  width: 170px;
}

//Responsiveness
@media screen and(max-width:992px) and (min-width: 768px) {
  .slider-navbar {
    display: none;
  }
  .explore-new-world {
    margin-top: 30px;
    margin-left: -20px;
    width: 1060px;
  }

  header {
    background-color: white;
    position: relative;
    left: 3%;
    padding: 50px 0px;
    display: flex;
    font-family: $primary-font-family;
    background-color: white;
    justify-content: space-between;
    margin-left: 21px;
    height: 60px;
    position: sticky;
    top: 0;
    padding: 35px 16px;
    height: 100px;
    width: 1050px;
    margin-left: -10px;
  }

  header {
    p,
    .navbar,
    #search,
    button {
      display: none;
    }
  }
  #code-logo,
  .responsive-icons {
    display: block;
  }
  .responsive-icons {
    a {
      padding: 0px 10px;
    }
    .fa-bars {
      padding-left: 50px;
    }
  }
}

@media screen and(max-width:768px) and (min-width: 576px) {
  .slider-navbar {
    display: none;
  }
  header {
    background-color: white;
    padding: 35px 16px;
    height: 100px;
    width: 1050px;
    margin-left: -10px;
  }
  header {
    p,
    .navbar,
    #search,
    button {
      display: none;
    }
  }
  .explore-new-world {
    margin-top: 30px;
    margin-left: -10px;
    height: 20%;
    width: 1050px;
  }
  #code-logo,
  .responsive-icons {
    display: block;
  }

  #code-logo img {
    width: 200px;
    height: 60px;
  }
}
